body {
	background-image:url("imagens/backgroundEditado.jpg");
	background-size:1280px;
}

header {
	padding:20px 0;
}

.cabecalho {
	width:80%;
	margin:80px auto;
	padding-bottom:20px;
	border-bottom:1px solid #9AAFAF;
}

.cabecalho h1 {
	font-family:"Corben", cursive;
	text-align: center;
	color:#9AAFAF;
	font-size:32px;
	letter-spacing:25px;
	
}

.ands h2{
	font-family:"lucida sans unicode", cursive;
	font-weight:bold;
	text-align:center;
	font-size:70px;
	letter-spacing:25px;
	text-transform:uppercase;
	color:#9AAFAF;
	margin:100px auto 0;
}

.banner {
	padding-top:100px;
	position:absolute;
	top:10%;
	left:50%;
	transform:translateX(-51%);
	z-index:-1;
	opacity: 0.8;
}

.menu {
	text-align: center;
	margin:130px auto 0;
	width:70%;
}

.menu ul {
	padding-top: 30px;
    border-top: 1px dashed #9AAFAF;
}

.menu li {
	display:inline-block;
	margin:15px;
}

.menu a {
	color:#F7F7F7;
	font-size:22px;
	background:#808080;
	padding:3px 20px 3px 20px;
	border-color:#A2A2A2;
	border-style: solid;
	border-bottom-width:3px;
	border-left:none;
	border-right:none;
	border-radius:0 50px 50px 0;
	text-decoration:none;
}

.menu a:hover {
	border:2px solid #9AAFAF;
	background:#9AAFAF;
	cursor:pointer;
	transition:0.2s;
}

#home-menu {
	padding:3px 74px 3px 74px;
}

#cardapio-menu {
	padding:3px 50px 3px 50px;
}

#contato-menu {
	padding:3px 56px 3px 56px;
}

.caixa-contato {
	width:90%;
	margin:0 auto -23%;
	background:#9AAFAF;
}

.caixa-contato h3 {
	font-family:"anton", sans-serif;
	font-size:50px;
	font-weight:bold;
	text-transform:uppercase;
	color:#445A5A;
	padding:20px 0 20px 180px;
}

.caixa-contato p {
	text-align:center;
	margin: 0 0 30px 0;
	font-family:"atom", sans-serif;
	font-size: 22px;
	font-weight:bold;

}

.icon-whats{
	position:relative;
	width:2em;
	left:58%;
	bottom:8%;
	font-size: 36px;
	color:green;
}

form {
	padding-bottom:30%;
}

fieldset {
	text-align:center;
}

label {
	font-weight:bold;
}

.input-padrao {
	display:block;
	width:30%;
	text-align:center;
	margin:5px auto;
	background:#C5D7D7;
}

.enviar {
	font-size:16px;
	font-weight:bold;
	background:#C5D7D7;
	padding:3px 20px 3px 20px;
	border-style:solid;
	border-bottom-width:3px;
	border-radius: 5px;

}

.mapa {
	margin-bottom:20%
}

.mapa h4 {
	font-family:"anton", sans-serif;
	font-size:30px;
	font-weight:bold;
	text-transform:uppercase;
	color: #445A5A;
	padding:20px 0 20px 230px;	
}

.conteudo-mapa {
	width:80%;
	margin:0 auto;
}

footer {
	text-align:center;
	padding:20px;
	background-color: rgba(255, 255, 255, 0.2);
	color:#C5D7D7;
}

.endereco > p:first-child {
	text-transform: uppercase;
}

.endereco {
	display:inline-block;
	padding:10px;
	width:190px;
	text-align:left;
	line-height: 1.2;
	border-right-style:solid;
	border-right-color:#C5D7D7;
	border-right-width:1.5px;	
}

.tabela-horario {
	display:inline-block;
	padding:10px;
	width:260px;
	vertical-align:top;
	margin: 0 50px;
	line-height: 1;
	border-right-style:solid;
	border-right-color:#C5D7D7;
	border-right-width:1.5px;
	color:#C5D7D7;
	text-align:center;
}

tr > th {

	padding-bottom:5px;
	text-transform:uppercase;
}


td:first-child {
	padding:5px;
	border-right: 1px solid #C5D7D7;
}

.copyright {
	display:inline-block;
	padding:10px;
	margin:0 20px 0 20px;
	vertical-align:top;
	line-height:2;
}
@media screen and (max-width: 480px) {

	body, .cabecalho, .ands, .mapa, .copyright{
		width:auto;
	}

	.banner {
		width:100%;
	}

	.cabecalho h1 {
		width:80%;
		letter-spacing:0;
		font-size:48px;
		margin:0 auto;
	}

	.ands h2{
		padding-top:50px;
		letter-spacing:0;
		font-size:98px;
	}

	.menu {
		margin:40px auto 0;
	}

	.caixa-contato {
		width:auto;
		height:55em;
		margin:0 auto -70%;
	}

	.caixa-contato h3 {
		padding:20px;
	}

	label {
		font-size:22px;
	}

	.input-padrao {
		width:80%;
		font-size:
	}

	.mapa h4 {
		padding: 15px;
		font-size:50px;
	}
	
	.endereco, .tabela-horario  {
		width:auto;
		border-right:none;
		border-top:#C5D7D7 solid 1.5px;
		text-align: center;;
		font-size:22px;
	}

}