body {
	background-image:url("imagens/backgroundEditado.jpg");
	background-size:1280px;
}

header {
	padding:20px 0;
}

.cabecalho {
	position:relative;
	margin:0 auto;
}

h1 {
	text-align: center;
	font-family:"Corben", cursive;
	color:#9AAFAF;
	font-size:32px;
	letter-spacing:0.7em;
	margin:80px 250px 10px;
	padding-bottom:20px;
	border-bottom:1px solid #9AAFAF;
}

h2 {
	width:80%;
	font-family:"lucida sans unicode", cursive;
	font-weight:bold;
	text-align:center;
	font-size:70px;
	letter-spacing:0.4em;
	text-transform:uppercase;
	color:#9AAFAF;
	margin:50px auto 0;

}

.banner {
	position:absolute;
	top:10%;
	left:50%;
	transform:translateX(-50%);
	z-index:-1;
	opacity: 0.8;
}

.menu {
	position:relative;
	text-align:center;
	width:1220px;
	margin:100px auto 0;
}

.menu ul {
	width: 1220px;
	margin:150px auto 0;
	padding-top: 30px;
    border-top: 1px dashed #9AAFAF;
}

.menu li {
	display:inline-block;
	margin:0 22px;
}

.menu a {
	color:#F7F7F7;
	font-size:22px;
	background:#808080;
	padding:3px 20px 3px 20px;
	border-color:#A2A2A2;
	border-style: solid;
	border-bottom-width:3px;
	border-left:none;
	border-right:none;
	border-radius:0 50px 50px 0;
	text-decoration:none;
}

.menu a:hover {
	border:2px solid #9AAFAF;
	background:#9AAFAF;
	cursor:pointer;
	transition:0.2s;
}

#home-menu {
	padding:3px 66px 3px 66px;
}

#cardapio-menu {
	padding:3px 49px 3px 49px;
}

#contato-menu {
	padding:3px 52px 3px 52px;
}

.desc-melaco {
	width:1000px;
	height:500px;
	margin: 100px auto 0;
}

#ft-melaco {
	width:50%;
	margin: 30px 20px;
	float:left;
}

h3 {
	text-align:left;
	padding-top:35px;
	color:#9AAFAF;
	font-size:120px;
	font-weight:bold;
	line-height: 110px;
	font-family: 'Anton', sans-serif;
	

}

.desc-melaco p {
	text-align:left;
	padding:20px;
	font-size:30px;
	line-height: 1.2;
	color:#9AAFAF;
}

footer {
	padding:20px;
	background-color: rgba(255, 255, 255, 0.2);
	color:#C5D7D7;
}

.endereco > p:first-child {
	text-transform: uppercase;
}

.endereco {
	display:inline-block;
	width:190px;
	vertical-align: top;
	line-height: 1.2;
	border-right-style:solid;
	border-right-color:#C5D7D7;
	border-right-width:1.5px;
		
}

.tabela-horario {
	width:260px;
	display:inline-block;
	vertical-align: top;
	margin-left:30px;
	line-height: 1;
	border-right-style:solid;
	border-right-color:#C5D7D7;
	border-right-width:1.5px;
	color:#C5D7D7;
	text-align:center;

}

tr > th {

	padding-bottom:5px;
	text-transform:uppercase;
}


td:first-child {
	padding:5px;
	border-right: 1px solid #C5D7D7;
}

.copyright {
	display:inline-block;
	position:absolute;
	right:0;
	margin:0 20px 0 20px;
	line-height: 2;
}